/*
Typography
========================================================================== */
/*
   Colors
   ========================================================================== */
/* Base colors  */
/* links */
/*
   Breakpoints
   ========================================================================== */
/*
   Other
   ========================================================================== */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:focus {
    outline: none; }

html {
  /* sticky footer fix */
  position: relative;
  min-height: 100%;
  /* apply a natural box layout model to all elements */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #020000;
  font-size: 20px;
  -webkit-text-size-adjust: auto; }

body {
  margin: 0;
  padding: 0;
  color: #f2f2f2;
  font-family: "Raleway", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 0 0;
  line-height: 1.2;
  font-family: "Raleway", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  color: #f2f2f2;
  font-weight: bold; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #f2f2f2;
    text-decoration: none; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
      color: #f2f2f2;
      text-decoration: underline; }

h2, h3, h4, h5, h6 {
  padding: 0.1em 1em;
  text-shadow: 1px 2px 1px black;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
  border-radius: 4px;
  word-wrap: break-word; }

h1 {
  margin-top: 0;
  font-size: 2.5em;
  text-shadow: 6px 5px 4px black; }

h2 {
  font-size: 2em;
  background: rgba(128, 128, 128, 0.95); }

h3 {
  font-size: 1.75em;
  background: rgba(128, 128, 128, 0.75); }

h4 {
  font-size: 1.5em;
  background: rgba(128, 128, 128, 0.5); }

h5 {
  font-size: 1.25em;
  background: rgba(128, 128, 128, 0.25); }

h6 {
  font-size: 1.1em;
  background: rgba(128, 128, 128, 0.15); }

header {
  text-align: center; }

small, .small {
  font-size: 0.75em; }

p {
  margin-bottom: 0;
  font-size: 1em;
  max-width: 70em;
  text-align: justify; }

/* links */
a {
  color: #ff3400; }
  a:hover, a:active {
    outline: 0;
    color: #B82601; }

/* lists */
ul {
  max-width: 70em; }

ul li,
ol li {
  margin-bottom: 0.5em; }

li ul,
li ol {
  margin-top: 0.5em; }

/*
   Global animation transition
   ========================================================================== */
b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a, tr, td, form button, input[type="submit"], .highlight, .archive__item-teaser {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

/*
   Scrollbars (in webkit browsers only
   ========================================================================== */
::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-track-piece {
  background-color: #fff;
  border-radius: 6px; }

::-webkit-scrollbar-thumb:vertical {
  height: 6px;
  background-color: #666;
  border-radius: 6px; }

::-webkit-scrollbar-thumb:horizontal {
  width: 6px;
  background-color: #666;
  border-radius: 6px; }

/* Prevent sub and sup affecting line-height in all browsers */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Responsive images (ensure images don't scale beyond their parents) */
img {
  max-width: 100%;
  /* part 1: Set a maximum relative to the parent*/
  height: auto;
  /* part 2: Scale the height according to the width, otherwise you get stretching*/
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

#masthead {
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  background: #020000;
  border-bottom: 1px solid #062f4f;
  z-index: 20;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  #masthead a {
    text-decoration: none;
    color: #f2f2f2; }
    #masthead a:hover {
      color: #ff3400 !important; }
    #masthead a.active {
      color: #ff3400 !important; }
  #masthead.shrink {
    padding: 0 1em; }
  #masthead button {
    background: transparent;
    border: none;
    color: #f2f2f2; }

.hidden-links {
  right: 0em;
  background: #020000;
  border: 1px solid #062f4f;
  border-radius: 4px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  .hidden-links ul {
    padding: 0 !important; }
  .hidden-links li {
    display: block;
    padding: 0.5em 1em;
    text-align: center;
    border-bottom: 1px solid #062f4f; }
    .hidden-links li:last-child {
      border-bottom: none; }

#masthead-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  font-size: 1.5em;
  font-weight: bold; }

@media (max-width: 700px) {
  #masthead-title {
    font-size: 1em; }
    #masthead-title a {
      margin: 0 0.25em;
      padding: 0; } }

.priority-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  text-align: right;
  white-space: nowrap;
  /*
    * Makes sure the menu's are inline-block so they don't take up
    * the entire width of its parent. This will break the plugin.
    */ }
  .priority-nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: unset;
    display: inline-block; }
    .priority-nav > ul > li {
      padding: 0 0.5em;
      display: inline-block;
      margin: 0; }
  .priority-nav-has-dropdown .priority-nav__dropdown-toggle {
    position: relative; }
  .priority-nav__wrapper {
    position: relative; }
  .priority-nav__dropdown {
    position: absolute;
    visibility: hidden; }
    .priority-nav__dropdown.show {
      visibility: visible; }
    .priority-nav__dropdown-toggle {
      visibility: hidden;
      position: absolute; }
  .priority-nav-is-visible {
    visibility: visible; }
  .priority-nav-is-hidden {
    visibility: hidden; }

.hide {
  display: none !important; }

.masthead {
  padding: 0.5em;
  background: transparent; }

#splash-canvas-container,
#splash-canvas {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0; }
