{{ define "main" }}

  {{ partial "hero.html" . }}
  <div id="page-content-full-width" itemprop="text">
    <div class="archive">
      {{ $paginator := .Paginate (where .Data.Pages "Section" .Section) }}
        {{ range $paginator.Pages }}
            {{ if .Params.teaserImage }}
              {{ partial "summary-with-image.html" . }}
            {{ else }}
              {{ partial "summary.html" . }}
            {{ end }}
        {{ end }}
      {{ template "_internal/pagination.html" . }}
    </div>
  </div>
{{ end }}
