{{ define "main" }}
  {{ partial "hero.html" . }}
  {{ if .Params.fullWidth }}
    <div id="page-content-full-width">
  {{ else }}
    <div id="page-content">
    {{ partial "nav/side-nav.html" . }}
  {{ end }}
    <article id="article">
      <header>
        <h2>{{ .Title }}</h2>
      </header>
      {{ partial "nav/toc.html" . }}
      {{ partial "meta/meta-top.html" . }}
      <section class="content">
        {{ .Content }}
      </section>
      {{ partial "nav/pagination.html" . }}
      {{ partial "comments/comments.html" . }}
      <aside>
        {{ partial "meta/meta-bottom.html" . }}
      </aside>
    </article>
  </div>
{{ end }}