
{{ define "main" }}
<div id="page-content-full-width">
  <header>
    <h1>Pages tagged  “{{ .Title }}”</h1>
  </header>
  <p>Here you'll find a list of pages tagged with {{ .Title }}. Pages are included from everywhere on the site, including blog posts, tutorials and experiments.</p>
  <article class="archive">
    {{ $section := .Data.Pages }}
      {{ range  $section }}
        {{ if .Params.teaserImage }}
          {{ partial "summary-with-image.html" . }}
        {{ else }}
          {{ partial "summary.html" . }}
        {{ end }}
      {{ end }}
  </article>
</div>
{{ end }}