{{ if not (eq .Params.meta false) }}
  <div id="meta">
    {{ partial "tag-list.html" . }}
    <p class="meta-date">
      <strong>
        <span class="fa fa-fw fa-calendar" aria-hidden="true"></span>
        Updated:
      </strong>
      <time datetime="">
        {{ .Date.Format "January 2, 2006" }}
      </time></p>
    </p>
    <p class="meta-author">
      <strong><span class="fa fa-fw fa-user" aria-hidden="true"></span>Author: </strong><a href="/about" itemprop="author" rel="author">{{ .Site.Params.Author }}</a>
    </p>
  </div>
{{ end }}