{{ if .Params.sidenav }}
  <button id="toggle-nav" class="fa fa-bars fa-2x"></button>

  <nav id="vert-nav" class="fold">
    <ul>
      <li class="nav-title"></li>
      {{ $currentNode := . }}
      {{ range .Site.Menus.blog }}
        <li>
          {{if or ($currentNode.IsMenuCurrent "blog" .) ($currentNode.HasMenuCurrent "blog" .) }}
            <span class="fa fa-arrow-right" aria-hidden="true"></span><a href="{{ .URL }}" class="">{{ .Name }}</a>
          {{ else }}
            </span><a href="{{ .URL }}" class="">{{ .Name }}</a>
          {{ end }}
        </li>
      {{ end }}
    </ul>
  </nav>

  <script>

    var sidenav = function() {

      var content = document.querySelector( '#main' );
      var toggleButton = document.querySelector( '#toggle-nav' );
      var nav = document.querySelector( '#vert-nav' );

      var breakpoint = 1280;

      function updateMenu(){

        if( content.offsetWidth < breakpoint ) {

          if( !toggleButton.classList.contains( 'hide' ) ) return;
          toggleButton.classList.remove( 'hide' );
          nav.classList.add( 'fold' );

        }
        else {

          if( toggleButton.classList.contains( 'hide' ) ) return;
          toggleButton.classList.add( 'hide' );
          nav.classList.remove( 'fold' );

        }

      }

      updateMenu();

      toggleButton.addEventListener( 'click', function( e ) {

        e.preventDefault();

        nav.classList.toggle( 'fold' );

      } );

      window.addEventListener( 'resize', updateMenu );

    };

    window.addEventListener( 'load', sidenav );

  </script>

  {{ end }}