.highlight {
  position: relative;
  margin: 1em 0;
  border: 1px solid silver;
  border-radius: $border-radius;

  &:before {
    position: absolute;
    top: 0;
    left: 96%;
    padding: 0.5em;
    background-color: $text-color;
    content: "\f121";
    font-family: "fontawesome" !important;
    line-height: 1;
    text-transform: none;
    speak: none;
    color: black;
  }

  // large code blocks
  pre {
    margin: 0;
    padding: 1em;
    width: 100%;
    max-height: 30em;
  }

}

tt, code, kbd, samp, pre {
  font-family: $monospace;
}

pre {
  overflow-x: auto; /* add scrollbars to wide code blocks*/
}

p > code,
a > code,
li > code,
figcaption > code,
td > code {
  font-style: italic;
  color: darkgoldenrod;
  border: 1px solid rgba(192,192,192, 0.5);
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  white-space: nowrap;
  padding: 0 0.4em;
}

@media (max-width: $breakpoint-700) {
  p > code,
  a > code,
  li > code,
  figcaption > code,
  td > code {
    white-space: pre-wrap;
  }
}