#masthead {

  position: fixed;
  top: 0;
  width: 100%;

  display: flex;
  align-items: center;
  padding: 1em;

  background: $background-color;
  border-bottom: 1px solid $border-color;
  z-index: 20;

  transition: all 0.4s ease-in-out;

  a {
    text-decoration: none;
    color: #f2f2f2;

    &:hover {
      color: $masthead-link-color-hover;
    }

    &.active {
      color: $masthead-link-color-hover;
    }
  }

  &.shrink {
    padding: 0 1em;
    box-shadow: 0 0 1px 2px silver;
  }

  button {
    background: transparent;
    border: none;
    color: $text-color;
  }

}

.hidden-links {

  right: 0em;

  background: $background-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;

  transition: all 0.25s ease-in-out;

  ul {
    padding: 0 !important;
  }

  li {

    display: block;
    padding: 0.5em 1em;
    text-align: center;
    border-bottom: 1px solid $border-color;

    &:last-child {

      border-bottom: none;

    }

  }

}

#masthead-title {

  flex: 1;
  flex-basis: 25%;

  font-size: 2em;
  font-weight: bold;

}

@media (max-width: $breakpoint-700) {

  #masthead-title {

      font-size: 1.5em;

    }

}

.priority-nav {

  flex: 1;
  flex-basis: 75%;

  text-align: right;

  white-space: nowrap; // prevent flash of unstyled content

  /*
    * Makes sure the menu's are inline-block so they don't take up
    * the entire width of its parent. This will break the plugin.
    */
  > ul {
    display: flex;
    max-width: unset;

    display: inline-block;

    > li {
      padding: 0 0.5em;
      display: inline-block;
      margin: 0;
    }
  }
  &-has-dropdown{
    .priority-nav{
      &__dropdown{
        &-toggle{
          position: relative;
        }
      }
    }
  }
  &__wrapper{
    position: relative;
  }
  &__dropdown{
    position: absolute;
    visibility: hidden;
    &.show{
      visibility: visible;
    }
    &-toggle{
      visibility: hidden;
      position: absolute;
    }
  }
  &-is-visible{
    visibility: visible;
  }
  &-is-hidden{
    visibility: hidden;
  }
}