.masthead {

  position: fixed;
  top: 0;
  width: 100%;

  background: $background-color;
  border-bottom: 1px solid $border-color;
  z-index: 20;

  padding: 1em;
  font-size: 1.25em;
  font-weight: bold;

  transition: all 0.4s ease-in-out;

  * { transition: none; }

  a, button {

    display: block;
    margin: 0 1rem;
    padding: 0.5rem 0;
    color: $masthead-link-color;
    text-decoration: none;

    &:hover {
      color: $masthead-link-color-hover;
    }

    &.active {
      color: $masthead-link-color-hover;
    }
  }

  &.shrink {
    padding: 0;
    box-shadow: 0px 0px 1px 2px silver;
  }

}

.toggle-links {

  border: none;
  background-color: transparent;
  cursor: pointer;

}

.visible-links {

  margin: 0;
  padding: 0;
  overflow: hidden;

  li {

    display: table-cell;
    white-space: nowrap;
    list-style: none;
    margin-bottom: 0;

    &:last-child {

      padding: 0 1em;

    }

  }

}

.masthead-title {

  font-size: 1.35em;

  a {

    color: $text-color;

  }

}

.hidden-links {

  position: absolute;
  top: 88%;
  right: 2.3em;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background: $background-color;
  transform-origin: 0% 0%;
  padding: 0;

  transition: all 0.25s ease-in-out;

  &.fold {

    transform-origin: 0% 0%;

    transform: scaleY(0);
    transition: all 0.25s ease-in-out;

  }

  a {

    margin: 0;
    padding: 0.5em 1.5em;
    font-size: 1em;
    font-weight: normal;

    &:hover {

      color: $masthead-link-color-hover;

    }

  }

  // arrow at top of menu
  &:after {

    content: "";
    position: absolute;
    top: -10px;
    right: 10px;
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #fff transparent;
    display: block;
    z-index: 1;

  }

  li {

    display: block;
    font-size: 1em;
    font-weight: normal;
    padding: 0;
    border-bottom: 1px solid $border-color;

    &:last-child {

      border-bottom: none;

    }

  }

}

@media (max-width: $breakpoint-700) {

  .masthead-title {

      font-size: 1em;

      a {

        margin: 0 0.25em;
        padding: 0;

      }

    }

}