#meta {

  color: $text-color;
  font-family: $sans-serif;
  font-size: 0.85em;;

  display: flex;
  flex-direction: column;

  p:first-child {
    padding: 1em 0;
    margin-top: 0.5em;
    border-top: 1px solid $border-color;
  }

  p {
    margin: 0 2em 0 0;
  }

  a {
    text-decoration: none;
  }

}

.reading-time{
  text-align: right;
  font-style: italic;
  font-size: 0.8em;
  margin: 0.75em;
}

