@import 'default';
@import "page";




$circle-width: 12em;
$shadow-depth: $circle-width * .1;
$y-offset: $shadow-depth * 0.5;
$x-offset: $y-offset * 1.73205081;
$gray1: rgba(180, 180, 180, .6);
$gray2: rgba(150, 150, 150, .6);
$gray3: rgba(120, 120, 120, .6);
$gray4: rgba(90, 90, 90, .6);
$gray5: rgba(60, 60, 60, .6);
$gray6: rgba(30, 30, 30, .6);
$red1: #B82601;
$blue1: #062f4f;

#circles{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.circle {

  width: 35vw;
  height: 35vw;
  border-radius: 50%;
  margin: 1em;

  background-size: 200%;

  transition: all 2s ease-in-out;

  flex-grow: 0;
  flex-shrink: 0;

		&:hover {
			background-size: 100%;
			transition: all 0.5s ease-in-out;
		}

}

@media ( min-width: $breakpoint-1280 ) {

  .circle {
    width: 26vw;
    height: 26vw;
  }

}


#circle-1 {
  background-image: url('/images/experiments/circles/hyper_4_512.jpg');
  box-shadow: inset 0.2em -0.1em 0 0 $blue1, inset -0.1em 0.1em 0 0 $red1, inset (-$x-offset) (-$y-offset) 0 0 $gray2, inset (-$x-offset) $y-offset 0 0 $gray4, inset $x-offset $y-offset 0 0 $gray5, inset 0 (-$shadow-depth) 0 0 $gray6, ; // animation: spin 120s linear infinite;
  &:hover {
      box-shadow: inset -0.2em 0.1em 0 0 $blue1, inset 0.1em -0.1em 0 0 $red1, inset $x-offset (-$y-offset) 0 0 $gray1, inset 0 ($shadow-depth) 0 0 $gray3, inset $x-offset $y-offset 0 0 $gray5, inset 0 (-$shadow-depth) 0 0 $gray6, ;
  }
}

#circle-2 {
	background-position: top right;
  background-image: url('/images/experiments/circles/hyper_3_512.jpg');
  box-shadow: inset 0.1em -0.1em 0 0 $red1, inset -0.2em 0.1em 0 0 $blue1, inset $x-offset (-$y-offset) 0 0 $gray1, inset 0 ($shadow-depth) 0 0 $gray3, inset $x-offset $y-offset 0 0 $gray5, inset 0 (-$shadow-depth) 0 0 $gray6, ; // animation: spin 120s linear infinite;
  &:hover {
      box-shadow: inset -0.1em 0.1em 0 0 $red1, inset 0.2em -0.1em 0 0 $blue1, inset (-$x-offset) (-$y-offset) 0 0 $gray2, inset (-$x-offset) $y-offset 0 0 $gray4, inset $x-offset $y-offset 0 0 $gray5, inset 0 (-$shadow-depth) 0 0 $gray6, ;
  }
}

#circle-3 {
	background-position: center;
  background-image: url('/images/experiments/circles/hyper_1_512.jpg');
  box-shadow: inset 0.1em -0.1em 0 0 $blue1, inset -0.2em 0.1em 0 0 $red1, inset $x-offset (-$y-offset) 0 0 $gray1, inset $x-offset $y-offset 0 0 $gray5, inset 0 ($shadow-depth) 0 0 $gray3, inset (-$x-offset) $y-offset 0 0 $gray4, ; // animation: spin 120s linear infinite;
  &:hover {
      box-shadow: inset -0.1em 0.1em 0 0 $blue1, inset 0.2em -0.1em 0 0 $red1, inset (-$x-offset) (-$y-offset) 0 0 $gray2, inset (-$x-offset) $y-offset 0 0 $gray4, inset $x-offset $y-offset 0 0 $gray5, inset 0 (-$shadow-depth) 0 0 $gray6, ;
  }
}

#circle-4 {
	background-position: bottom;
  background-image: url('/images/experiments/circles/hyper_2_512.jpg');
  box-shadow: inset 0.1em -0.1em 0 0 $red1, inset -0.2em 0.1em 0 0 $blue1, inset (-$x-offset) (-$y-offset) 0 0 $gray2, inset (-$x-offset) $y-offset 0 0 $gray4, inset $x-offset $y-offset 0 0 $gray5, inset 0 (-$shadow-depth) 0 0 $gray6, ; // animation: spin 120s linear infinite;
  &:hover {
      box-shadow: inset -0.1em 0.1em 0 0 $red1, inset 0.2em -0.1em 0 0 $blue1, inset $x-offset (-$y-offset) 0 0 $gray1, inset $x-offset $y-offset 0 0 $gray5, inset 0 ($shadow-depth) 0 0 $gray3, inset (-$x-offset) $y-offset 0 0 $gray4, ;
  }
}