@import 'default';
@import "page";

#view-container {
	position: absolute;
	background-color: grey;
	min-height: 70%;
	width: 90%;
	margin-left: 5%;
	// margin-top: 5%;
}

#view-container:fullscreen {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

#viewer-canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#loading-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
  width: 100%;
  background-color: #000000;


  text-align:center;
}

#error-overlay {
	position: absolute;
	top: 93%;
	left: 0;
	// height: 100%;
  width: 100%;
  background-color: #000000;
  text-align:center;

  z-index: 999;
}

#loading-bar {
	position: absolute;
  left: 50%;
	top: 50%;
 	width: 50vw;
	transform: translate3d( -50%,-50%,0 );

	border-radius: 60px;
	overflow: hidden;
	background-color: #eef1f3;

	span {
		display: block;
	}
}

.bar {
  background-color: #eef1f3;
}

#progress {
	background-color: #75b800;
	padding: 5px;
	color: #fff;
	width: 5px;
}

.fullscreen-controls{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: darkslategray;
	opacity: 0.75;
}

#help-overlay {
}

#settings-overlay {
}

.hide {
	display: none !important;
}

#model-info{
	width: 100%;
  margin-left: 5%;
}

#file-upload-form{
  position: absolute;
  left: 50%;
	top: 50%;
 	width: 50vw;
	transform: translate3d( -50%,-50%,0 );
  text-align: center;
}

#screenshot {
  position: absolute;
  top: 110%;
  left: 0;
  width: 1140px;
  height: 800px;
  background-color: white;
}

#logo {
  position: absolute;
	bottom: 0;
	left: 1%;;
  width: 8%;
  color: black;
}

#controls {
	position: absolute;
	bottom: 0;
	right: 0.5em;
  width: 90%;
  left: 9%;

	a {
		color: black;
	}
}


#animation-controls {
  position: absolute;
  width: 86%;
  left: 0;
  bottom: 0;
  // display: none;
}

#right-buttons{
  position: absolute;
  right: 0;
  bottom: 0;
}

#animation-slider{
  position: absolute;
  left: 5%;
  width: 100%;
}

#animation-controls:input[type=range] {
    height: 3px;
    background-color: transparent;
    -webkit-appearance: none;
    border: none;
}
#animation-controls:input[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}
#animation-controls:input[type=range]::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent;
}
#animation-controls:input[type=range]::-moz-focus-outer {
    border: 0;
}
#animation-controls:input[type=range]::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.1);
    -webkit-appearance: none;
}
#animation-controls:input[type=range]::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.1);
}