@import 'variables';
@import 'base';
@import 'masthead';

.hide {
  display: none !important
}

.masthead {
  padding: 0.5em;
  background: transparent;
}

#splash-body,
#splash-canvas-container,
#splash-canvas {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

#splash-body {
  a {
    text-decoration: none;
  }
}

.splash-link {
  position: absolute;
  z-index: 1;
}