<figure {{ with .Get "class" }}class="{{.}}"{{ end }} itemprop="figure" itemscope itemtype="http://schema.org/ImageObject">
  {{ if .Get "lightbox" }}<a href="#img1">{{ end }}
    <img itemprop="thumbnail" {{ with .Get "src" }}src="{{.}}"{{ end }} {{ with .Get "alt" }}alt="{{.}}"{{ end }}/>
  {{ if .Get "lightbox" }}</a>{{ end }}
  {{ if .Get "caption" }}
    <figcaption>
      {{ with .Get "caption" }}{{.}}{{ end }}
      {{ if .Get "link" }}
        <a {{ with .Get "link" }}href="{{ . }}"{{ end }}>
          {{ with .Get "linkText" }}{{ . }}{{ end }}
        </a>
      {{ end }}
    </figcaption>
  {{ end }}
</figure>

{{ if .Get "lightbox" }}
  <script>
    const link = document.createElement( 'a' );
    link.href = '#_';
    link.classList.add( 'lightbox' );
    link.id = 'img1';

    document.querySelector( 'body' ).appendChild( link );

    const img = document.createElement( 'img' );
    img.src = {{ with .Get "src" }}'{{.}}'{{ end }};
    img.alt = {{ with .Get "alt" }}'{{.}} + (fullscreen)'{{ end }};
    link.appendChild( img );

    {{ if .Get "caption" }}
      const caption = document.createElement( 'figcaption' );
      caption.innerHTML = {{ with .Get "caption" }}{{.}}{{ end }};
      link.appendChild( caption );
    {{ end }}
  </script>
{{ end }}
